

body {
background-color: pink;
color: rgb(71, 8, 36);
}


header {background-image: image(jpeg);
    background-repeat: repeat;
font-size: xx-large;}
    


h1 {
    color: brown;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    
}